# .gititnore - WRW 27 May 2022

#   Ignore rand editor backup files
,*

#   Ignore other rand editor files
.es*
.ek*
.ec*

__pycache__/
Junk/
Hold/
birdland_wrwetzel.egg-info/

pyproject.toml
ReadMe-PyPi.md
setup.cfg
SpecFiles
Start-From-Tar.sh
MANIFEST.in

src/src
src/birdland_bootstrap.py
src/birdland-full.spec
src/birdland-partial.spec
src/Install-From-Nuitka.sh
src/Install-From-PyInstaller.sh
src/Makefile
src/Package_Type_Nuitka.txt
src/Package_Type_PyInstaller.txt
src/pyproject.toml
src/ReadMe-Nuitka.md
src/ReadMe-PyInstaller.md

src/birdland/Package_Type_Setuptools.txt
src/birdland/ReadMe-Setuptools.md
src/birdland/.rgignore
