include src/birdland/Icons/*
include src/birdland/fullword.cpython-310-x86_64-linux-gnu.so
include src/birdland/birdland.conf.proto
include src/birdland/ReadMe-Birdland.md
include src/birdland/Remove-Birdland.sh
include src/birdland/Package_Type_Setuptools.txt
include src/birdland/ReadMe-Setuptools.md
include src/Documentation/birdland.md
include src/Documentation/birdland.pdf
include src/Documentation/birdland-create.md
include src/Documentation/birdland-create.pdf
global-exclude src/src/*
global-exclude ,*
global-exclude .e*
global-exclude __pycache__/*
global-exclude __pycache__
